* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #5865F2;
   
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #404EED;
    padding: 15px 60px;
    color: white;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav-links {
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    
}

.nav-links a:hover {
    color: #b0b7ff;
}


.login-btn {
    background-color: white;
    color: #404EED;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
   
}

.login-btn:hover {
    background-color: #dfe1ff;
}


.flex {
    display: flex;
    
}

.padding{
    padding: 15px;
}



.hero {
    background-color: blue;
    padding: 30px 0;
    text-align: center;
    background-image: url(../img\ 2/jumbo.png);
    background-size: cover;
    padding: 150px;
    
    
}

.hero .box {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    height: 150px;
    color: white;
   
}

.container {
    padding: 30px 0;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: white;

}


.testo{
    display: flex;
}



.card {
    width: 70%;
    height: 350px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.card1 {
    width: 70%;
    max-width: 500px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
   
}


.img{
    max-width: 100%;
}

.grey {
    background-color: rgba(211, 211, 211, 0.581);
}


.hero1 {
    background-color: lightgrey;
    padding: 30px 0;
    text-align: center;
    
}

.hero1 .box1 {
    width: 70%;
    max-width: 500px;
    margin: 0 auto;
   
}

.black {
    background-color: #40444b;
}

footer {
    background-color: #40444b;
    border-top: 1px solid white;
}

.footer-logo {
    display: flex;
    max-width: 700px;
    margin: 0 auto;
   
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
}



.logo-1 {
    display: flex;
    color: white;
    font-size: 24px;

}


.button {
    display: flex;
    background-color: #f88;
}

.footer .logo-1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.rosa {
    background-color: #f88;
}

.aqua {
    background-color: aqua;
}


.container-1 {
    width: 100%;
    background-color: #232428;
    padding: 10px 0;


}

.classe {
    display:flex;
    max-width: 800px;
    margin: 0 auto;


}

.card3 {
    height: 250px;
   
    width: 30%;
    color: white;

}

.card2 {
    height: 250px;
    display: flex;
    width: 20%;
    
}


.violet{
    color:#5865F2;
}


footer ul{
    list-style: none;
    padding: 15px;
    color: white;
}

.white{
    color: white;
    
}

.strong{
    font-size: 28px;
    color: #404EED;
    display: flex;
    margin-top: 20px;}

.img-1{
    display: inline;
    width:20px;
    height: 15px;
    padding-right: 5px;
}

.button-1{
        color: white;
         padding: 8px 18px;
        border-radius: 20px;
        text-decoration: none;         
        font-weight: bold;
        background-color:#404EED;
        
    }



    .margin-top{
        display: flex;
        margin-top: 20px;
    }

    .margin{
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .margin-left{
        margin-left: 5px;
    }


    